<div class="table-responsive-md">
    
    <table class="table"> 
        <!-- <caption>List of users</caption> -->
        <thead>
            <tr>
            <th scope="col">Company</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Depart</th>
            <th scope="col">Return</th>
            <th scope="col">One way</th>
            <th scope="col">Count</th>
            <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets">
                <td>{{ ticket.company.name }}</td>
                <td>{{ ticket.flight.origin.name }}</td>
                <td>{{ ticket.flight.destination.name }}</td>
                <td>{{ ticket.depart | date:'d/MMMM/y' }}</td>
                <td>{{ ticket.comeBack | date:'d/MMMM/y' }}</td>
                <td>{{ ticket.oneWay }}</td>
                <td>{{ ticket.availableTickets }}</td>
                <td class="">
                    <a href="#" class="btn btn-primary text-light "><i class="far fa-eye"></i></a>
                    <a href="#" class="btn btn-success text-light "><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-danger text-light "><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>