<div class="col mt-3">
    <h2 class="mb-3">Edit Ticket</h2>
    <form class="" [formGroup]="editTicketForm" (ngSubmit)="submitForm(editTicketForm.value)">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Flight</label>
                </div>
                <select formControlName="flightId" class="custom-select" id="inputGroupSelect01" [(ngModel)]="selectedF">
                    <option selected>Choose...</option>
                    <option [value]="flight.id" *ngFor="let flight of flights">{{ flight.origin.name }} - {{ flight.destination.name }}</option>
                </select>
                <input class="" disabled [value]="ticket.flight.origin.name + '-' + ticket.flight.destination.name" type="text"  name="flightV" >
            </div>

            <!-- <div class="text-danger" *ngIf="flight.errors?.required">Flight is required! </div> -->
        </div>

        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Company</label>
                </div>
                <select formControlName="companyId" class="custom-select" id="inputGroupSelect01" [(ngModel)]="selectedC">
                    <option selected>Choose...</option>
                    <option [value]="company.id" *ngFor="let company of companies">{{ company.name }}</option>
                </select>
                <input class=""  [value]="ticket.company.name" disabled type="text" name="fromDateV" >
            </div>
        </div>

        <div class=" form-group">
            <div class="input-group ">
                <div class="input-group-prepend">
                    <label for="date" class="input-group-text">From Date</label>
                </div>
                <input class="custom-select" type="date"  id="date" name="fromDate" formControlName="depart">
                <input class="" [value]="depart" disabled type="text" name="fromDateV" >
            </div>
        </div>

        <div class="form-group">
            <div class="input-group ">
                <div class="input-group-prepend">
                    <label for="date" class="input-group-text">To Date</label>
                </div>
                <input class="custom-select" type="date"  id="date" name="toDate" formControlName="comeBack">
                <input class="" [value]="comeBack" disabled type="text" name="fromDateV" >
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <label for="availableCount" class="input-group-text">Available Tickets</label>
                    </div>
                    <input [(ngModel)]="ticket.availableCount" class="form-control" type="number" min="0"  id="availableCount" name="availableCount" formControlName="availableCount">
                </div>
            </div>

            <div class="col form-group">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <label for="oneWay" class="input-group-text">One Way</label>
                    </div>
                    <input [(ngModel)]="ticket.oneWay" class="form-control" type="checkbox"  id="oneWay" name="oneWay" formControlName="oneWay">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="/home">Back To Tickets</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary float-right">Edit Ticket</button>
            </div>
        </div>
        
    </form>
</div>