<app-navigation></app-navigation>
<h1>{{user.username}}</h1>
<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Depart</th>
                <th scope="col">Return</th>
                <th scope="col">One way</th>
                <th scope="col">Count</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of user.bookings">
                <td>{{ booking.flight.origin.name }}</td>
                <td>{{ booking.flight.destination.name }}</td>
                <td>{{ booking.ticket.depart | date:'d/MMMM/y' }}</td>
                <td>{{ booking.ticket.comeBack | date:'d/MMMM/y' }} </td>
                <td>{{ booking.ticket.oneWay }}</td>
                <td>{{ booking.numberOfBookings }}</td>
                <td class="">
                    <a *ngIf="!booking.isAvailable" (click)="deleteBooking(booking.id)" class="btn btn-danger text-light mr-2"><i
                            class="far fa-trash-alt"></i></a>
                    <a *ngIf="!booking.isAvailable" (click)="addBooking(booking.id)"
                        class="btn btn-success text-light"><i class="fas fa-plus"></i></a>
                    <p *ngIf="booking.isAvailable">Booked</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>