<app-navigation></app-navigation>
<!-- <div class="row"> -->
<h1 class="text-center">{{company.name}}</h1>

<div *ngIf="user.userType === 'ADMIN'" class="container">
    <div class="row">
        <form class=" col" [formGroup]="companyForm" (ngSubmit)="submitAddCompany(companyForm.value)">
            <h3>Add company</h3>
            <div class="form-group">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <label for="name" class="input-group-text">Company Name</label>
                    </div>
                    <input class="form-control" type="text" id="name" name="name" formControlName="name">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!companyForm.valid">Make New Company</button>
            <div *ngIf="errorMsgAdd.length > 0" class="mt-2 text-danger alert alert-danger">{{errorMsgAdd}}</div>
        </form>

        <form class="col" [formGroup]="companyEditForm" (ngSubmit)="submitEditCompany(companyEditForm.value)">
            <h3>Edit company</h3>
            <div class="form-group">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <label for="name" class="input-group-text">Company Name</label>
                    </div>
                    <input class="form-control" [(ngModel)]='company.name' type="text" id="name" name="name"
                        formControlName="name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!companyEditForm.valid">Save Company Name</button>
            <div *ngIf="errorMsgEdit.length > 0" class="mt-2 text-danger alert alert-danger">{{errorMsgEdit}}</div>
        </form>
    </div>
</div>

<a *ngIf="user.userType === 'ADMIN'" (click)="deleteCompany()"
    class="btn btn-danger text-light mr-2 float-right"><i class="far fa-trash-alt fa-lg"> Delete</i></a>

<div class="table-responsive-md mt-5">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Depart</th>
                <th scope="col">Return</th>
                <th scope="col">One way</th>
                <th scope="col">Count</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of company.tickets">
                <td>{{ ticket.flight.origin.name }}</td>
                <td>{{ ticket.flight.destination.name }}</td>
                <td>{{ ticket.depart | date:'d/MMMM/y' }}</td>
                <td>{{ ticket.comeBack | date:'d/MMMM/y' }} </td>
                <td>{{ ticket.oneWay }}</td>
                <td>{{ ticket.availableCount }}</td>
                <td class="">
                    <form [formGroup]="bookingForm" (ngSubmit)="submitForm(bookingForm.value, ticket.id)">
                        <input formControlName="numberOfTickets" *ngIf="user.userType === 'USER'" type="number" min="1"
                            max="{{ ticket.availableCount }}" class="mr-2" style="width: 50px;">
                        <input formControlName="username" type="hidden" [(ngModel)]="user.username">
                        <button *ngIf="user.userType === 'USER'" type="submit" [disabled]="!bookingForm.valid"
                            class="btn btn-success text-light "><i class="fas fa-plus"></i></button>
                    </form>
                    <a *ngIf="user.userType === 'ADMIN'" href="ticket/{{ticket.id}}"
                        class="btn btn-success text-light mr-2 "><i class="fas fa-edit "></i></a>
                    <a *ngIf="user.userType === 'ADMIN'" (click)="deleteTicket(ticket.id)"
                        class="btn btn-danger text-light "><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>