<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/home">Airline</a>
  <form class="form-inline">
    <a class="navbar-brand">{{ user.username }}</a>
    <a class="navbar-brand ">{{ user.userType }}</a>
    <a *ngIf="user.userType === 'USER'" class="navbar-brand "><i class="fas fa-clipboard-list mr-1"></i>{{
      user.bookings.length }}</a>
    <button (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</button>
  </form>
</nav>